@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.navbar {
	color: #232223;
}


.main-heading {
	font-family: 'Open Sans', sans-serif;
	/*font-size: 26px*/;
	font-weight: 700;
	letter-spacing: -1px;
	color: #222323
}

.sub-heading {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: normal;
color: #222323
}
